n8n/workflows/onboarding_day1_7_checklist.json
{
  "name": "AA-OS — Onboarding Day 1–7 Checklist",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [{ "name": "aa-os" }, { "name": "onboarding" }],
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Onboarding Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aa-onboarding-checklist-v1",
      "parameters": {
        "httpMethod": "POST",
        "path": "aa-onboarding",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"workflow\": \"onboarding\", \"entity_id\": \"{{ $json.entity_id }}\" }"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [460, 380],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            { "id": "1", "name": "entity_id",     "value": "={{ $json.entity_id }}",     "type": "string" },
            { "id": "2", "name": "business_name", "value": "={{ $json.business_name }}", "type": "string" },
            { "id": "3", "name": "contact_phone", "value": "={{ $json.contact_phone }}", "type": "string" },
            { "id": "4", "name": "supabase_url",  "value": "={{ $env.SUPABASE_URL }}",   "type": "string" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Day 1 — Welcome triage item",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/triage_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"source\": \"n8n\",\n  \"priority\": \"high\",\n  \"status\": \"open\",\n  \"title\": \"Onboarding Day 1 — Welcome call scheduled\",\n  \"detail\": \"Send welcome pack, confirm Meta Ads access request sent, book 30-min onboarding call.\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000021",
      "name": "Day 1 — Register in automations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 260],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/automations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"name\": \"Onboarding Day 1\\u20137 Checklist\",\n  \"platform\": \"n8n\",\n  \"trigger_type\": \"webhook\",\n  \"status\": \"active\",\n  \"config\": { \"webhook_path\": \"aa-onboarding\", \"business_name\": \"{{ $('Set Context').item.json.business_name }}\" }\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Log Day 1 agent_event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1120, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"agent\": \"n8n-onboarding\",\n  \"event_type\": \"onboarding_day1_started\",\n  \"payload\": { \"business_name\": \"{{ $('Set Context').item.json.business_name }}\" },\n  \"status\": \"processed\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Wait 24h — Day 1→2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 380],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": 24
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Day 2 — Fetch entity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1560, 380],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/entities?id=eq.{{ $('Set Context').item.json.entity_id }}&select=notes_signals,stage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Day 2 — Meta connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1780, 380],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json[0].notes_signals?.meta_account_connected }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Day 2 — Flag Meta not connected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2000, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/triage_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"source\": \"n8n\",\n  \"priority\": \"high\",\n  \"status\": \"open\",\n  \"title\": \"Onboarding Day 2 — Meta Ads access not yet confirmed\",\n  \"detail\": \"Client has not confirmed Meta Business Manager access. Chase before Day 4 or campaign cannot launch on time.\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Wait 24h — Day 2→3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2220, 380],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": 24
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Day 3 — Fetch briefs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2440, 380],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/briefs?entity_id=eq.{{ $('Set Context').item.json.entity_id }}&status=eq.approved&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000012",
      "name": "Day 3 — Brief approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2660, 380],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000013",
      "name": "Day 3 — Flag brief not approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2880, 480],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/triage_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"source\": \"n8n\",\n  \"priority\": \"normal\",\n  \"status\": \"open\",\n  \"title\": \"Onboarding Day 3 — First brief still in draft\",\n  \"detail\": \"Brief has not been approved yet. Get client sign-off before campaign can launch.\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000014",
      "name": "Wait 24h — Day 3→5",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3100, 380],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": 48
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000015",
      "name": "Day 5 — Performance check triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3320, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/triage_items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"source\": \"n8n\",\n  \"priority\": \"normal\",\n  \"status\": \"open\",\n  \"title\": \"Onboarding Day 5 — First performance review due\",\n  \"detail\": \"Deliver day-5 report to client: impressions, reach, leads generated so far. Book check-in call if spend > R5,000.\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000016",
      "name": "Wait 24h — Day 5→7",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3540, 380],
      "parameters": {
        "resume": "timeInterval",
        "unit": "hours",
        "amount": 48
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000017",
      "name": "Day 7 — Complete checklist + log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3760, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": \"{{ $('Set Context').item.json.entity_id }}\",\n  \"agent\": \"n8n-onboarding\",\n  \"event_type\": \"onboarding_7day_complete\",\n  \"payload\": { \"business_name\": \"{{ $('Set Context').item.json.business_name }}\", \"days_completed\": 7 },\n  \"status\": \"processed\"\n}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000018",
      "name": "Day 7 — Advance to Active",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [3980, 380],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/entities?id=eq.{{ $('Set Context').item.json.entity_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"stage\": \"active\" }"
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000019",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 600],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000020",
      "name": "Log execution error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 600],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/agent_events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_id\": null,\n  \"agent\": \"n8n-onboarding\",\n  \"event_type\": \"onboarding_execution_error\",\n  \"payload\": {\n    \"workflow\": \"onboarding_day1_7_checklist\",\n    \"error_message\": \"{{ $json.execution.error.message }}\",\n    \"error_node\": \"{{ $json.execution.lastNodeExecuted }}\",\n    \"execution_id\": \"{{ $json.execution.id }}\"\n  },\n  \"status\": \"error\"\n}"
      }
    }
  ],
  "connections": {
    "Onboarding Webhook": {
      "main": [
        [
          { "node": "Respond OK",   "type": "main", "index": 0 },
          { "node": "Set Context",  "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Context": {
      "main": [[ { "node": "Day 1 — Welcome triage item", "type": "main", "index": 0 } ]]
    },
    "Day 1 — Welcome triage item": {
      "main": [[ { "node": "Day 1 — Register in automations", "type": "main", "index": 0 } ]]
    },
    "Day 1 — Register in automations": {
      "main": [[ { "node": "Log Day 1 agent_event", "type": "main", "index": 0 } ]]
    },
    "Log Day 1 agent_event": {
      "main": [[ { "node": "Wait 24h — Day 1→2", "type": "main", "index": 0 } ]]
    },
    "Wait 24h — Day 1→2": {
      "main": [[ { "node": "Day 2 — Fetch entity", "type": "main", "index": 0 } ]]
    },
    "Day 2 — Fetch entity": {
      "main": [[ { "node": "Day 2 — Meta connected?", "type": "main", "index": 0 } ]]
    },
    "Day 2 — Meta connected?": {
      "main": [
        [ { "node": "Wait 24h — Day 2→3",               "type": "main", "index": 0 } ],
        [ { "node": "Day 2 — Flag Meta not connected",   "type": "main", "index": 0 } ]
      ]
    },
    "Day 2 — Flag Meta not connected": {
      "main": [[ { "node": "Wait 24h — Day 2→3", "type": "main", "index": 0 } ]]
    },
    "Wait 24h — Day 2→3": {
      "main": [[ { "node": "Day 3 — Fetch briefs", "type": "main", "index": 0 } ]]
    },
    "Day 3 — Fetch briefs": {
      "main": [[ { "node": "Day 3 — Brief approved?", "type": "main", "index": 0 } ]]
    },
    "Day 3 — Brief approved?": {
      "main": [
        [ { "node": "Wait 24h — Day 3→5",             "type": "main", "index": 0 } ],
        [ { "node": "Day 3 — Flag brief not approved", "type": "main", "index": 0 } ]
      ]
    },
    "Day 3 — Flag brief not approved": {
      "main": [[ { "node": "Wait 24h — Day 3→5", "type": "main", "index": 0 } ]]
    },
    "Wait 24h — Day 3→5": {
      "main": [[ { "node": "Day 5 — Performance check triage", "type": "main", "index": 0 } ]]
    },
    "Day 5 — Performance check triage": {
      "main": [[ { "node": "Wait 24h — Day 5→7", "type": "main", "index": 0 } ]]
    },
    "Wait 24h — Day 5→7": {
      "main": [[ { "node": "Day 7 — Complete checklist + log", "type": "main", "index": 0 } ]]
    },
    "Day 7 — Complete checklist + log": {
      "main": [[ { "node": "Day 7 — Advance to Active", "type": "main", "index": 0 } ]]
    },
    "Error Trigger": {
      "main": [[ { "node": "Log execution error", "type": "main", "index": 0 } ]]
    }
  }
}
